*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    cursor: pointer;
}
body{
    font-family: 'PT Sans Narrow';
    background-color: #0c0928;
    color: #c5c4cb; 
}
.wrapper{
    height: 100%;
    width: 1140px;
    margin: auto;
}
.menu{
    display: flex;
    justify-content: space-around;
    margin-bottom: 150px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    max-width: 500px;
    font-weight: 400;
    color: #c5c4cb;
    text-decoration: none;
    font-size: 13px;
}
.home{
    display: flex;
    justify-content: flex-start;
    color: #c5c4cb;
    text-decoration: none;  
 
}
.departments{
    color: #c5c4cb;
    text-decoration: none;
    align-self: center;
    gap: 10px;
    padding: 12px;
    border-radius: 15px;
}
.BUTTON{
    display: flex;
    align-items: center;
    border: 1px solid #c5c4cb;
    color: #c5c4cb;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 20px;
}
.departments:hover {
    color: #30eeb3;
}
.BUTTON:hover{
    color: #30eeb3;
    border: 1px solid #30eeb3;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    gap: 20px;
}
.button-menu{
    color:white;
    text-decoration: none;
    padding: 10px 5px;
    border-radius: 15px;
    font-size: 20px;
}

.text{
    margin-bottom: 17px;
    color: aliceblue;
    font-size: 75px;
    text-align: center;
}
.text-section{
    margin-bottom: 30px;
    color: aliceblue;
    font-size: 40px;
    text-align: center;
}
.button{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.button-menu{
    border-radius: 25px;
    background-color: green;
    width: 190px;
    color: white;
    text-decoration: none;
    padding: 20px 0;
}
.button-menu{
    color: #CBDAFA;
    text-decoration: none;
    text-align: center;
}
.button-menu1{
    color:white;
    text-decoration: none;
    border-radius: 25px;
    font-size: 20px;
    width: 190px;
    padding: 20px 0;
    color: #143a32;
    text-align: center;
    background-color: #33FFBD;
}

@media (max-width: 715px){
    .menu{
        display: block;
    }
    .home{
        display: block;
        margin: auto;
        margin-bottom: 40px;
    }
    .header{
        max-width: 100%;
    }
}
@media (max-width: 453px){
    .header{
        display: block;
    }
    .departments{
        display: block;
        text-align: center;
        padding: 5px 0;
    }

}